span.cart{
    font-size: 14px;
    font-weight: 900;
    position: absolute;
    // border: solid rgba(243, 73, 84, 0.25);
    border-radius: 60%;
    height: 28px;
    width: 16px;
    // background:rgba(243, 73, 84, 0.25);
}