span.cart{
    font-size: 14px;
    font-weight: 900;
    position: absolute;
    border-radius: 60%;
    height: 20px;
    width: 26px;
    background: #545454;
    color: white;
    text-align: center;
}