<section id="about" class="about-section pt-150">
  <div class="container">
    <div class="row">
      <div class="col">
        <form #form="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
            <label for="firstName">First name</label>
            <input type="text" class="form-control" formControlName="firstname" placeholder="" value="">
            <div *ngIf="userForm.get('firstname')?.invalid && userForm.get('firstname')?.touched" class="text-danger">
              Valid first name is required.
            </div>

          <label for="lastName">Last name</label>
          <input type="text" class="form-control" formControlName="lastname" placeholder="" value="">
          <div class="text-danger" *ngIf="userForm.get('lastname')?.invalid && userForm.get('lastname')?.touched">
            Valid last name is required.
          </div>

          <label for="email">Email <span class="text-muted"></span></label>
          <input type="email" class="form-control" formControlName="email" placeholder="you@example.com">
          <div class="text-danger" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
            Please enter a valid email address for shipping updates.
          </div>

          <label for="message">message</label>
          <textarea type="text" class="form-control" name="message" formControlName="message"></textarea>
          <div class="text-danger" *ngIf="userForm.get('message')?.invalid && userForm.get('message')?.touched">
            Please enter a valid email address for shipping updates.
          </div>

          <button class="main-btn btn-hover wow fadeInUp" data-wow-delay=".6s">Submit</button>

          <div class="row" *ngIf="isSuccess">
            <div class="col-xs-12">
              <p class="alert alert-success">
                <strong>Your message is Success!</strong> thank you so much!.
              </p>
            </div>
          </div>
        </form>
      </div>
      
      <div class="col-lg-6">
        <div class="about-content">
          <div class="section-title">
            <span class="wow fadeInUp" data-wow-delay=".2s">About Us</span>
            <h1 class="wow fadeInUp" data-wow-delay=".4s">On-time Delivery and Customer Satisfaction
            </h1>
            <p class="wow fadeInUp" data-wow-delay=".6s">Our delivery area is Alkmaar,
              Bergen en Heiloo and we value on-time Delivery and customer satisfaction.</p>
          </div>
          <div class="rating-meta d-flex align-items-center wow fadeInUp" data-wow-delay=".65s">
            <h5>Rating 4.8</h5>
            <div class="rating">
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
            </div>
          </div>
          <div class="counter-up wow fadeInUp" data-wow-delay=".8s">
            <div class="single-counter">
              <h3 id="secondo1" class="countup">1M</h3>
              <h5>Download</h5>
            </div>
            <div class="single-counter position-relative">
              <h3 id="secondo2" class="countup">234k </h3>
              <h5>Happy User</h5>
            </div>
            <div class="single-counter">
              <h3 id="secondo3" class="countup">34k </h3>
              <h5>Reviews</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="testimonial" class="testimonial-section img-bg pt-150 pb-40">
  <div class="container">
    <div class="section-title">
      <span class="wow fadeInUp" data-wow-delay=".2s">Google Maps</span>
      <h1 class="wow fadeInUp" data-wow-delay=".4s">Find your restaurant in Alkmaar and nearby.
      </h1>
    </div>
    <div class="col-lg-4 col-md-6 -mt-60">
      <google-map height="500px" width="1200px" [center]="center" [zoom]="zoom">
        <map-marker *ngFor="let marker of markers; let i = index" [position]="marker.position" [label]="marker.label"
          [title]="marker.title" [options]="marker.options" (mapClick)="openInfo(marker, marker.info)">
          <map-info-window>
            {{ marker.description }}
            {{ marker.name }}
            {{ marker.label }}
          </map-info-window>
        </map-marker>
      </google-map>
    </div>
  </div>
</section>

<footer id="footer" class="footer pt-100 pb-70">
  <div class="footer-shape">
    <img src="assets/foodapplanding/img/footer/footer-left.svg" alt="" class="shape shape-1" />
    <img src="assets/foodapplanding/img/footer/footer-right.svg" alt="" class="shape shape-2" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
          <div class="logo">
            <a href="#"><img src="assets/foodapplanding/img/logo/logo-2.svg" alt="logo" /></a>
          </div>
          <ul class="links">
            <li>
              <a href="home" class="page-scroll">Home</a>
            </li>
            <li>
              <a class="page-scroll" routerLinkActive="active" routerLink="/restaurants">Restaurants</a>
            </li>
            <li>
              <a routerLinkActive="active" routerLink="/contactform">Contact</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
          <div class="download-btns">
            <a href="javascript:void(0)">
              <span class="icon"><i class="lni lni-apple"></i></span>
              <span class="text">Download on the <b>App Store</b> </span>
            </a>
            <a href="javascript:void(0)">
              <span class="icon"><i class="lni lni-play-store"></i></span>
              <span class="text">GET IT ON <b>Play Store</b> </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>