.iconify{
    color: #ccc;
    width: 30px;
    height: 30px;
    margin-left: 302px;
    margin-top: -126px;
}
.active .iconify{
    color:red;
}


.filterheart{
    margin-top: -113px;
    margin-left: 74px;
}

#detail-button{
    margin-left: 90px;
}