<br><br><br>
<div class="container">
<label>Filter restuarant by type: </label>&nbsp;
<input type="text" [(ngModel)]="filteredstring"/>
<section id="testimonial"  class="testimonial-section img-bg pt-150 pb-40">
  <div class="container" >
  <div class="row justify-content-center">
  <div class="col-lg-6">
  <div class="section-title mb-60 text-center">
  <span class="wow fadeInUp" data-wow-delay=".2s" >Best delivery in Alkmaar</span>
  <h1 class="wow fadeInUp" data-wow-delay=".4s">What for Restaurant we have</h1>
  </div>
  </div>
  </div>
  <div class="row testimonial-wrapper">
  <div class="col-lg-4 col-md-6 -mt-30" *ngFor="let RestaurantModel of restaurants | filter: filteredstring:'type'">
  <div class="single-testimonial wow fadeInUp" data-wow-delay=".2s">
  <div class="rating">
  <i class="lni lni-star-filled"></i>
  <i class="lni lni-star-filled"></i>
  <i class="lni lni-star-filled"></i>
  <i class="lni lni-star-filled"></i>
  <i class="lni lni-star-filled" ></i>
  </div>
  <div class="content">
  <p>Lorem ipsum dolor sit amet {{RestaurantModel.deliveryTime}} onsetetur sadipscing elitr,{{RestaurantModel.deliveryCost}} sed diam non eirmod tempor invidunt ut labore etdo magna aliquyam erat, sed diam vero eos et accusam et justo duo dolores et ea rebum clita kasd gubergren.</p>
  </div>
  <div class="info">
  <div class="image">
  <img src="{{RestaurantModel.photo}}" alt="" />
  </div>
  <div class="text">
  <h5>{{RestaurantModel.name}}</h5>
  <p>{{RestaurantModel.type}}</p>
  <a href="javascript:void(0)" class="main-btn btn-hover wow fadeInUp" data-wow-delay=".6s" routerLinkActive="active" routerLink="/detail/{{RestaurantModel.restaurantId}}" >Restaurant Detials</a>
  </div>
  </div>
  </div>
  </div>
 </div>
 </div>
 </section>













<!--  
 <br><br>
 <div class="row">
   <div class="col-4 col-md-3 col-sm-4" *ngFor="let RestaurantModel of restaurants | filter: filteredstring:'type' "  style="width: 18rem;">
     <img
       src="{{RestaurantModel.photo}}"
       class="card-img-top"
       alt="..."
     />
     <div class="card-body">
       <h5 class="card-title">{{RestaurantModel.name}}</h5>
       <p class="card-text">
         Some quick example text to build on the card title and make up the bulk of the
         card's content.
       </p>
     </div>
     <ul class="list-group list-group-flush">
       <li class="list-group-item">RestaurantType: {{RestaurantModel.type}}</li>
       <li class="list-group-item">DeliveryTime: {{RestaurantModel.deliveryTime}}</li>
       <li class="list-group-item">DeliveryCost: {{RestaurantModel.deliveryCost}}</li>
     </ul>
     <div class="rating-meta d-flex align-items-center wow fadeInUp" data-wow-delay=".65s">
       <h5>{{RestaurantModel.rating}}</h5>
       <div class="rating">
       <i class="lni lni-star-filled"></i>
       <i class="lni lni-star-filled"></i>
       </div>
       </div>
     <div class="card-body">
       <a href="#" class="btn btn-primary" routerLinkActive="active" routerLink="/detail/{{RestaurantModel.restaurantId}}">Detials</a>
     </div>
   </div>
 </div>
</div> -->
 



