.img-sm {
    width: 90px!important;
    height: 90px!important;
}
// .qty{
//     display: inline-flex;
// }
.qty input{
    width: 60px!important;
}


.description{
    padding: 1px;
    // display: flex;
    // align-items:center;
}
// span {
//     padding: 10px;
// }

td.product{
    width: 40%;
}

 //img{
// text-align: left;
 //}