<!-- <td>
    <div class="flex-horizontal">
        <div>
            <img src="{{ data.imagePath }}" class="img-sm">
        </div>
        <div class="descriptions">
            <h5 class="title text-dark">{{ data.name }}</h5>
            <p class="text-dark small">{{ data.description }}</p>
        </div>
    </div>
   


<td>
    <div class="qty">
        <button id="nummer" (click)="getItemCart(data)" class="btn btn-primary">+</button>
        <input type="number" (change)="editQty(data)" [(ngModel)]="qty">
        <button id="nummer" (click)="removeItem(data)" class="btn btn-primary">-</button>
    </div>
</td>
<td>
    <div class="price-wrap">
        <var class="price">{{ data.price | currency: "€"}}</var>
    </div>
</td>
<td (click)="removeItem(data)">
    <span class="iconify" data-icon="bi:x" style="color: red;" data-width="40" data-height="40"></span>
</td> -->
<table width="100%">
    <tr>
        <td class="clearfix">
            <div>
                <img src="{{ data.imagePath }}" class="img-md float-left mr-4">

                <div class="description">
                    <h5 class="card-title text-dark">{{ data.name }}</h5>
                    <p class="card-text">{{ data.description }}</p>
                </div>
            </div>
        </td>
        <td>
            <div class="qty">
                <input type="number" (change)="editQty(data)" [(ngModel)]="qty">
            </div>
        </td>
        <td>
            <div class="price-wrap">
                <span class="price">{{ data.price | currency: "€"}}</span>
            </div>
        </td>
        <td>
            <div (click)="removeItem(data)">
                <span class="iconify" data-icon="bi:x" style="color: red;" data-width="40" data-height="40"></span>
            </div>
        </td>
    </tr>
</table>
<!-- 
<div class="flex-horizontal">



    <div class="flex-item" (click)="removeItem(data)">
        <span class="iconify" data-icon="bi:x" style="color: red;" data-width="40" data-height="40"></span>
    </div>
</div> -->